/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button{
	-fx-background-color: #00000000;
	-fx-effect: dropshadow( three-pass-box,rgba(0,0,0,0.8),10, 0, 0, 0); 
	-fx-background-repeat: no-repeat; 
}
.button:hover{
	-fx-background-repeat: no-repeat; 
	-fx-effect: dropshadow( three-pass-box,rgba(0,0,0,0.8),17, 0, 0, 0) ; 
}
.button:disabled{
	-fx-opacity: 1;
}
#pig{
-fx-background-image: url("../images_animals/pigShade.png");	
}
#wolf{
-fx-background-image: url("../images_animals/wolfShade.png");	
}
#sheep{
-fx-background-image: url("../images_animals/sheepShade.png");	
}
#dog{
-fx-background-image: url("../images_animals/dogShade.png");	
}
#frog{
-fx-background-image: url("../images_animals/frogShade.png");	
}
#chicken{
-fx-background-image: url("../images_animals/chickenShade.png");	
}
#cow{
-fx-background-image: url("../images_animals/cowShade.png");	
}
#lyon{
-fx-background-image: url("../images_animals/lyonShade.png");	
}
#cat{
-fx-background-image: url("../images_animals/catShade.png");	
}
#monkey{
-fx-background-image: url("../images_animals/monkeyShade.png");	
}

#menuBotton{
	-fx-background-image: url("../images/menuBotton.png");	
	-fx-background-size: 60px,60px;
	-fx-background-repeat: no-repeat; 
}
#menuBotton:hover{
	-fx-background-image: url("../images/menuBottonHover.png");
	-fx-background-size: 60px,60px;
}
#backBotton{
	-fx-background-image: url("../images/back.png");	
	-fx-background-size: 60px,60px;
	-fx-background-repeat: no-repeat; 
}
#backBotton:hover{
	-fx-background-image: url("../images/backHover.png");
	-fx-background-size: 60px,60px;
}

#yes{
	-fx-background-image: url("../images/yes.png");	
	
	-fx-background-repeat: no-repeat; 
}
#yes:hover{
	-fx-background-image: url("../images/yesHover.png");
	
}
#no{
	-fx-background-image: url("../images/no.png");	


}
#no:hover{
	-fx-background-image: url("../images/noHover.png");
	
}
#pig:hover{
-fx-background-image: url("../images_animals/pig.png");	
}
#wolf:hover{
-fx-background-image: url("../images_animals/wolf.png");	
}
#sheep:hover{
-fx-background-image: url("../images_animals/sheep.png");	
}
#dog:hover{
-fx-background-image: url("../images_animals/dog.png");	
}
#frog:hover{
-fx-background-image: url("../images_animals/frog.png");	
}
#chicken:hover{
-fx-background-image: url("../images_animals/chicken.png");	
}
#cow:hover{
-fx-background-image: url("../images_animals/cow.png");	
}
#lyon:hover{
-fx-background-image: url("../images_animals/lyon.png");	
}
#cat:hover{
-fx-background-image: url("../images_animals/cat.png");	
}
#monkey:hover{
-fx-background-image: url("../images_animals/monkey.png");	
}
#playNextLevel{
	-fx-background-image: url("../images/nextLevel.png");	
}
#playNextLevel:hover{
	-fx-background-image: url("../images/nextLevelHover.png");	
}
#newTry{
	-fx-background-image: url("../images/newTry.png");	
}
#newTry:hover{
	-fx-background-image: url("../images/newTryHover.png");
}
#h1,#h2,#h3 {
	-fx-background-image: url("../images/heart.png");
	-fx-background-repeat: no-repeat;
}
#h1:disabled,#h2:disabled,#h3:disabled {
	-fx-background-image: url("../images/heartShade.png");
	-fx-background-repeat: no-repeat;	
}
#repeat{
	-fx-background-image: url("../images/repeat.png");
	-fx-effect: dropshadow( three-pass-box,rgba(0,0,0,0.8),7, 0, 0, 0); 
	-fx-background-size: 70px,70px;	
}
#repeat:hover{
	-fx-background-image: url("../images/repeatHover.png");
		-fx-effect: dropshadow( three-pass-box,rgba(0,0,0,0.8),10, 0, 0, 0) ;
	-fx-background-size: 70px,70px;	
}
#repeat:disabled{
	-fx-opacity: 0.5;
}



